
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <centre>
            <h2>Use the below form to register</h2>
        </centre>
        <form id="form" action="/dashboard" method="post">
            
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br><br>
            
            <label for="age">Age:</label>
            <input type="number" id="age" name="age"><br><br>
            
            <label for="Phone">Phone:</label>
            <input type="text" id="phone" name="phone"><br><br>
            
            <label for="password">Create Password:</label>
            <input type="password" id="password" name="password"><br><br>

            <label for="password1">Re-enter Password:</label>
            <input type="password" id="password1" name="password1"><br><br> 
            
            <label for="gender">Gender:</label>
            <select name="gender" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <br><br>
            
            <label for="slot">Choose slot:</label>
            <select name="slot" id="slot">
                <option value="Slot-1">Slot 1: 6am-7am</option>
                <option value="Slot-2">Slot 2: 7am-8am</option>
                <option value="Slot-3">Slot 3: 8am-9am</option>
                <option value="Slot-4">Slot 4: 5pm-6pm</option>
            </select>
            <br><br>
            <button type="submit" value="Submit" id="btnsubmit">Submit</button>
            <br><br>
        </form>
        <h2 class="query">Already a member? Login <a href="login">here</a></h2>
    </div>
    <% if (msg) { %>
        <h2 class="valid">Congratulations! You are now a member</h2>
    <% } %>
    
    <%  if (check) { %>
        <h2 class="invalid">You are already a member, Please LogIn</h2>
    <% } %>
</main>
<!-- /Main Site -->
<script src="/js/register.js"></script>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
