
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<h2>Your Details have been saved successfully</h2>
<a href="login">Back</a>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
